/* Set styles for the page body */
body {
    font-family: Arial, sans-serif;
    background-color: #d3efbb;
  }
  
  /* Set styles for the form container */
  form {
    background-color: #cadd73;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ddc9c9;
    border-radius: 5px;
  }
  
  /* Set styles for the form headings */
  h1 {
    
    width: 700px;
    font-size: 40px;
    text-align: center ;
    margin-top: 0;
  }
  
  /* Set styles for the form labels */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Set styles for the form input fields */
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #b51e1e;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Set styles for the form submit button */
  input[type="submit"] {
    background-color: #d64f10;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
  }
 button {
    background-color: #b4d2ba;
    color: rgb(163, 214, 176);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
  }
  a {
    color: #ea2618;
    text-decoration:none;
    font-size: large;
  }
  

  
  /* Set styles for the error messages */
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }